!!!html5
%html
  %head
    %title sinatra-remocon
    %meta(charset='UTF-8')
  %body
    %h1 sinatra-remocon
    %p
      curl -d 'signal=signal' '#{@url}'
    %h2 signals
    %table
      %tr
        - @signals.each do |signal|
          %td= signal
    %p
      oh yeah!
