!!!html5
%html
  %head
    %title sinatra-remocon
    %meta(charset='UTF-8')
  %body
    %h1 sinatra-remocon
    %p
      curl -d 'signal=signal' '#{@url}'
    %h2 signals
    %p
      = @ua
    %table
      %tr
        - @signals.each do |signal|
          %td
            %form{ action: "/", method: "post"}
              %input{ type: "hidden", name: "signal", value: "#{signal}" }
              %input{ type: "submit", value: "#{signal}" }
    %p
      oh yeah!
